body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Issue-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #6d28d9;
}

button {
  font-size: calc(10px + 2vmin);
}

.inner-box {
  height: 400px;
  width: 600px;
  /* overflow-y: auto; */
  overflow-y: scroll;
  border: solid 1px black;
}

.mathfield-element {
  background-color: white;
  border: 1px #ccc solid;
  color: black;
}

math-field {
  --hue: 53 !important;
  --caret: #3b82f6 !important;
  --highlight: #93c5fd !important;
  --highlight-inactive: #f3f4f6 !important;
}

/* remove the focus border */
math-field:focus,
math-field:focus-within {
  outline: 0px;
}
